# 忽略文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 环境变量
.env
.env.example
.venv
venv/

# 日志
logs/
*.log

# 数据库
*.db
*.sqlite
*.sqlite3

# 输出文件
output/
static/frames/
video_downloads/

# 忽略FFmpeg工具目录（文件过大）
ffmpeg-8.0.1-essentials_build/
ffmpeg-8.0.1/
FFmpeg/

# 忽略压缩包
*.zip
*.tar.xz
*.tar.gz
